.mapicon-parent {
    border: 0px;
    background-color: transparent;
}

.mapicon {
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    border: 0px;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    background-color: black;
    transform-origin: center center;
}

.mapicon-bus {
    color: #FFF;
    background-color: #00F;
}

.mapicon-campsite {
    color: black;
    background-color: #0F0;
}

.mapicon-marker {
    color: white;
    background-color: red;
}

.mapicon-parking {
    color: white;
    background-color: #00F;
}

.mapicon-photo {
    color: black;
    background-color: #FFF;
}

.mapicon-shelter {
    color: black;
    background-color: #8F8;
}

.mapicon-toilets, .mapicon-toilets_f, .mapicon-toilets_m {
    color: black;
    background-color: #FFFF00;
}

.mapicon-train {
    color: white;
    background-color: #00F;
}

.mapicon-water {
    color: black;
    background-color: #0FF;
}

.mapicon-altitude {
    background-color: black;
    border: 0px;
    border-radius: 3px;
}

.diagonal-line {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M0 99 L99 0 L100 2 L2 100' fill='grey' /></svg>");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 100% 100%, auto;
}
