.mapicon-parent {
    border: 0px;
    background-color: transparent;
}

.mapicon {
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    border: 0px;
    border-radius: 5px;
    overflow: hidden;
    color: #000;
    background-color: #fff;
    transform-origin: center center;
}

.mapicon-cluster {
    color: #fff;
    background-color: #f00;
    width: auto;
    height: 24px;
    line-height: 22px;
}

.mapicon-key {
    display: inline-block;
    margin: 5px 2px 0 2px;
}

.mapicon-transport {
    color: #fff;
    background-color: #ff7f00;
}

.mapicon-park,
.mapicon-campsite,
.mapicon-route,
.mapicon-attraction {
    color: #fff;
    background-color: #f00;
}

.mapicon-viewpoint,
.mapicon-moutain_peak,
.mapicon-waterfall,
.mapicon-water_crossing {
    color: #fff;
    background-color: #0a0;
}

.mapicon-parking {
    color: #fff;
    background-color: #00f;
}

.mapicon-photo {
    color: #fff;
    background-color: #b0b;
}

.mapicon-shelter {
    color: #000;
    background-color: #8f8;
}

.mapicon-toilet {
    color: #000;
    background-color: #ffff00;
}

.mapicon-water {
    color: #000;
    background-color: #0ff;
}

.mapicon-information {
    color: #fff;
    background-color: #f0f;
}

.mapicon-altitude {
    background-color: #000;
    border: 0px;
    border-radius: 3px;
}

.diagonal-line {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M0 99 L99 0 L100 2 L2 100' fill='grey' /></svg>");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%, auto;
}

.map-popup-link-icons {
    font-size: 1.5em;
}
